/* Events */

.page #events h1 {
    color: white;
}

.page #events {
    background-image: none;
}

.page #events section {
    width: 49%;
    display: inline-block;
    background-color: transparent;
}

section#events .container>article.row {
    margin-left: 0;
    width: 100%;
    padding-left: 0;
}

section#events time {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

section section article {
    width: 60%;
    padding: 0;
}

section section span.column {
    width: 40%;
}

.page main section {
    padding-top: 0;
    padding-bottom: 0;
}

.page h1:before,
.page h2:before {
    background-color: #fff;
}