    /* ----------- GENERAL ---------- */
    
    @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Nanum Gothic', sans-serif;
        background-color: #000;
        text-rendering: optimizeLegibility;
        line-height: 1.55556;
    }
    
    a,
    a:hover,
    a:visited,
    a:focus {
        color: #FFF;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }
    
    a:hover {
        color: #CCC;
    }
    
    h1 {
        font-size: 36px;
    }
    
    .clearfix::after {
        clear: both;
        display: table;
    }
    /* ----------- HEADER ---------- */
    
    header {
        width: 100%;
        background-color: #000;
        background-image: url('../images/header-background.jpg');
        background-size: cover;
        background-position-x: right;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
        color: #FFF;
        text-align: left;
        float: left;
    }
    
    header img {
        max-width: 280px;
    }
    
    header .container {
        z-index: 2;
    }
    
    header:before {
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
        transition: 0.3s ease-in-out;
    }
    
    header:hover:before {
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    header figure {
        width: 100%;
        float: left;
        margin-top: 140px;
    }
    
    header p {
        text-align: left;
        font-size: 20px;
    }
    
    header aside {
        float: left;
        line-height: 1.7;
        width: 100%;
        margin-top: 10px;
        max-width: 600px;
        float: right;
        position: relative;
        position: absolute;
        bottom: 10%;
        right: 0;
        margin-right: 55px;
    }
    
    header p:before {
        content: "";
        height: 2px;
        background-color: #FFF;
        width: 100px;
        max-width: 100%;
        clear: left;
        display: inline-block;
        position: absolute;
        transform: translate(-100%, 0);
        left: -15px;
        top: 15px;
        opacity: 0.4;
    }
    
    header .container {
        height: 100%;
    }
    
    header a.calendar:before {
        content: "";
        background-image: url('../images/icons/calendar-icon.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-right: 15px;
        width: 35px;
        height: 35px;
        display: inline-block;
        vertical-align: middle;
    }
    
    header a.calendar:after {
        content: "";
        background-image: url('../images/icons/right-arrow-icon.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 15px;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
    }
    
    a.read-more:after {
        content: "";
        background-image: url('../images/icons/right-arrow-icon.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 8px;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
    }
    
    header a.calendar,
    header a.calendar:hover,
    header a.calendar:visited,
    header a.calendar:focus {
        display: inline-block;
        margin-top: 40px;
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        transition: 0.3s ease-in-out;
    }
    
    header a.calendar:hover {
        color: #CE5454;
    }
    /* ----------- MENU ---------- */
    
    nav {
        float: left;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 80px;
        position: absolute;
        top: 0;
        z-index: 3;
        transition: 0.6s ease-in-out;
    }
    
    nav.fixed {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    nav ul {
        list-style: none;
        float: left;
    }
    
    nav ul.sign-up {
        float: right;
    }
    
    nav ul.sign-up li a:before {
        content: "";
        width: 40px;
        height: 40px;
        background-image: url('../images/icons/signup-icon.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        left: -45px;
        top: -11px;
    }
    
    nav ul.sign-up li a:after {
        opacity: 0;
        content: "";
    }
    
    nav ul li {
        display: inline-block;
        position: relative;
    }
    
    nav ul>li:not(:last-of-type)::after {
        content: "";
        padding-left: 5px;
        padding-right: 5px;
        border-right: 1px solid #FFF;
        display: inline-block;
        height: 18px;
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        right: -15px;
        opacity: 0.4;
    }
    
    nav ul>li:not(:last-of-type) {
        margin-right: 25px;
    }
    
    nav ul li ul {
        display: none;
    }
    
    nav ul li a,
    nav ul li a:hover,
    nav ul li a:visited,
    nav ul li a:focus {
        text-decoration: none;
        color: #FFF;
        font-size: 15px;
        position: relative;
        padding-bottom: 5px;
        text-shadow: 1px 1px 1px #000;
        transition: 0.3s ease-in-out;
    }
    
    nav ul li a:hover {
        color: #CE5454;
    }
    
    nav ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 3px solid #CE5454;
        transition-delay: 0.2s;
        transition: .4s;
        z-index: 2;
    }
    
    nav ul li a:hover:after {
        width: 100%;
    }
    /* ----------- Events ---------- */
    
    #events {
        background-image: url('../images/events-background.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #b53b49;
        float: left;
        width: 100%;
        color: #FFF;
    }
    
    #events,
    #courses {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    section#events aside {
        float: left;
        width: 25%;
        padding: 40px 35px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    h2 {
        letter-spacing: 10px;
        text-transform: uppercase;
        font-size: 35px;
        padding-top: 30px;
        padding-bottom: 50px;
        font-weight: 100;
    }
    
    h3 {
        line-height: 1.5;
        font-size: 24px;
        position: relative;
        margin-bottom: 10px;
        font-weight: 100;
    }
    
    h3:before {
        content: "";
        display: inline-block;
        height: 1px;
        width: 75px;
        margin-right: 15px;
        background-color: #FFF;
        opacity: 0.4;
        vertical-align: middle;
    }
    
    h4 {
        font-size: 24px;
        letter-spacing: 3px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 100;
    }
    
    section#events time {
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 27px;
        display: inline-block;
        font-size: 72px;
        text-align: center;
        width: 170px;
        font-weight: 600;
        float: right;
        margin-top: 19px;
    }
    
    section#events time>span {
        display: block;
        font-size: 26px;
        text-transform: capitalize;
    }
    
    section#events aside ul {
        list-style: none;
    }
    
    section#events aside ul li {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    section#events aside ul li a:before {
        content: "";
        background-image: url('../images/icons/right-arrow-icon.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 12px;
        margin-top: -2px;
    }
    
    section#events .container>article.row {
        box-sizing: border-box;
        padding-top: 0;
        float: left;
        margin-left: 25%;
        width: 75%;
        padding-left: 100px;
        padding-right: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    section#events .container>section>section {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
        width: 100%;
        float: left;
    }
    
    section section article,
    section section span.column {
        margin-top: 30px;
        float: left;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    section section>p {
        font-size: 18px;
    }
    
    section section section article p {
        opacity: 0.4;
        margin-bottom: 25px;
    }
    /* ----------- KURSER ---------- */
    
    #courses {
        background-color: #f0f4f5;
        min-height: 100vh;
        float: left;
        width: 100%;
        color: #222;
    }
    
    #courses h2 {
        padding-top: 20px;
        text-align: center;
    }
    
    #courses h2:before {
        content: "";
        display: block;
        height: 2px;
        width: 75px;
        margin-left: 15px;
        background-color: #000;
        opacity: 0.4;
        margin-left: auto;
        margin-right: auto;
    }
    
    #courses .container>section {
        text-align: center;
    }
    
    #courses article {
        display: inline-block;
        text-align: left;
        width: 31%;
        background-color: #f6f8f9;
        padding: 0;
        box-shadow: 5px 5px 40px 0 rgba(0, 0, 0, 0.1);
        margin-right: 25px;
        float: none;
    }
    
    #courses article:nth-of-type(3n+3) {
        margin-right: 0;
    }
    
    #courses article .course {
        width: 100%;
        position: relative;
    }
    
    #courses article .course figcaption {
        padding: 20px 40px;
        font-size: 24px;
        position: absolute;
        background-color: rgba(181, 59, 73, 0.8);
        bottom: 7px;
        left: 0;
        width: 100%;
        color: #FFF;
        font-weight: 600;
    }
    
    #courses article .course img {
        max-width: 100%;
    }
    
    #courses article .person {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        float: left;
        width: 100%;
    }
    
    #courses article .person img {
        max-width: 74px;
        height: auto;
        border-radius: 100%;
        float: left;
        margin-right: 18px;
    }
    
    #courses article .person figcaption {
        float: left;
        padding-top: 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 17px;
        max-width: 150px;
        margin-top: 11px;
    }
    
    #courses article .person figcaption .title {
        width: 100%;
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
    }
    
    section.day-time {
        float: left;
        width: 100%;
    }
    
    section.day-time ul {
        list-style: none;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
    }
    
    section.day-time ul li span {
        position: relative;
        font-weight: 600;
    }
    
    section.day-time ul:after {
        content: "";
        padding-left: 5px;
        padding-right: 5px;
        border-right: 1px solid #000;
        display: inline-block;
        height: 100%;
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        right: 54%;
        opacity: 0.4;
    }
    
    section.day-time ul li .time:before {
        content: "";
        background-image: url(../images/icons/clock-icon.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        margin-top: -5px;
    }
    
    section.day-time ul li .time {
        float: right;
        font-weight: normal;
    }
    /* ----------- FOOTER ---------- */
    
    footer {
        background-color: #000;
        height: 60px;
        float: left;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #FFF;
        padding-top: 18px;
    }
    /* ----------- Header Subpage ---------- */
    
    .page header {
        background-color: #000;
        background-image: none;
        height: 200px;
    }
    
    .page main>section {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #FFF;
        float: left;
        width: 100%;
    }
    
    .page h1 {
        letter-spacing: 10px;
        text-transform: uppercase;
        font-size: 35px;
        padding-top: 30px;
        padding-bottom: 50px;
        font-weight: 100;
        color: #000;
        text-align: center;
    }
    
    .page h1,
    .page h2 {
        position: relative;
    }
    
    .page h1:before,
    .page h2:before {
        content: "";
        display: block;
        height: 2px;
        width: 75px;
        margin-left: 15px;
        background-color: #000;
        opacity: 0.4;
        margin-left: auto;
        margin-right: auto;
    }
    
    .page main section h2 {
        text-align: center;
    }
    /* ----------- RESPONSIVE ---------- */
    
    .container {
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    
    .container:after {
        content: "";
        clear: both;
        display: table;
    }
    /* Stor Desktop */
    
    @media only screen and (max-width: 1280px) {
        #events,
        #courses {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    
    @media only screen and (max-width: 1199px) {
        .container {
            max-width: 1025px;
        }
        #events {
            background-size: cover;
        }
    }
    /* iPad staande */
    
    @media only screen and (max-width: 1024px) {
        .container {
            max-width: 992px;
        }
    }
    /* iPad liggende */
    
    @media only screen and (max-width: 991px) {
        .container {
            max-width: 768px;
        }
        #courses article {
            width: 50%;
        }
        section#events .container>article.row {
            margin-left: 5%;
            width: 95%;
        }
        section section article {
            width: 72%;
        }
        section section span.column {
            width: 28%;
        }
        header figure {
            width: 100%;
            float: left;
            margin-top: 140px;
            text-align: center;
        }
        header img {
            max-width: 190px;
        }
        header {
            background-position: top right -70px;
        }
        header aside {
            margin-right: 0;
        }
        nav ul li a,
        nav ul li a:hover,
        nav ul li a:visited,
        nav ul li a:focus {
            font-size: 14px;
        }
        #courses article {
            margin-right: 0;
        }
        html .page #events section {
            width: 100%;
        }
    }
    /* Mobil staande starter */
    
    @media only screen and (max-width: 767px) {
        .container {
            max-width: 100%;
        }
        #courses article {
            width: 100%;
        }
        header aside {
            left: 15px;
            right: auto;
        }
        nav {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        nav ul.sign-up {
            margin-right: 15px;
            margin-top: 20px;
        }
        nav.fixed {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.8);
            padding-top: 30px;
            padding-bottom: 15px;
        }
        header {
            height: 750px;
        }
        nav ul.sign-up {
            float: left;
            padding-left: 35px;
        }
        #courses article {
            max-width: 369px;
        }
        section#events .container>article.row {
            padding-left: 15px;
            margin-left: 0;
            width: 100%;
        }
        h2 {
            letter-spacing: 10px;
            text-transform: uppercase;
            font-size: 33px;
            padding-top: 30px;
            padding-bottom: 10px;
            font-weight: 100;
        }
        section section span.column {
            width: 100%;
        }
        section section article {
            width: 100%;
        }
        section#events time {
            width: 100%;
        }
        header a.calendar,
        header a.calendar:hover,
        header a.calendar:visited,
        header a.calendar:focus {
            font-size: 16px;
        }
        header aside {
            max-width: 100%;
            position: static;
            margin-top: 70px;
        }
        header aside p {
            font-size: 15px;
        }
        nav ul>li:not(:last-of-type) {
            width: 38%;
        }
        nav ul>li:not(:last-of-type)::after {
            display: none;
        }
        nav.fixed {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.8);
            padding-top: 15px;
            padding-bottom: 15px;
        }
        section.day-time ul:after {
            display: none;
        }
        #courses article .person figcaption {
            float: left;
            padding-top: 10px;
            font-weight: 600;
            font-size: 15px;
            line-height: 17px;
            max-width: 150px;
            margin-top: 0px;
        }
        #courses article .person img {
            max-width: 54px;
        }
        section.day-time ul,
        #courses article .person {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    /* Lille mobil */
    
    @media only screen and (max-width: 540px) {
        footer {
            font-size: 14px;
        }
        html .page section section span.column,
        html .page section section article {
            width: 100%;
        }
    }