/* ----------- Skabelon---------- */

#googlemaps {
    height: 400px;
    background-image: url("../images/google-maps.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#om-os img {
    float: right;
    height: 190px;
    width: 190px;
    margin-left: 25px;
}

#om-os p {
    margin-bottom: 15px;
}